@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Giest-Regular';
  src:  url('/fonts/Giest-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'InstrumentalSerif-Regular';
  src: url('/fonts/InstrumentalSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InstrumentalSerif-Italic';
  src:  url('/fonts/InstrumentalSerif-Italic.ttf') format('truetype');
}


@layer base {
  html {
    @apply font-giestRegular;
  }
}


/* *{
  box-sizing: border-box;
} */